# ipaudio FMT: 0|audio1|http://xxxx
0|AHMAD-Max1|http://radio.scorpion-audio.com/ScorpionMax1_ali/mpegts?token=Wafitheking_WDr1Y5j85oDL4kBr#
0|AHMAD-Max2|http://radio.scorpion-audio.com/ScorpionMax2_ali/mpegts?token=Wafitheking_WDr1Y5j85oDL4kBr#

